<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee List</title>
</head>
<body>
<h1>Coffee 목록</h1>

<table border="1">
    <tr>
        <th>ID</th><th>이름</th><th>가격</th><th>원산지</th><th>샷 수</th><th>수정/삭제</th>
    </tr>
    <tr th:each="coffee : ${coffeeList}">
        <td th:text="${coffee.id}"></td>
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.price}"></td>
        <td th:text="${coffee.source}"></td>
        <td th:text="${coffee.shots}"></td>
        <td>
            <form th:action="@{/update}" method="post">
                <input type="hidden" name="id" th:value="${coffee.id}" />
                <button type="submit">수정</button>
            </form>
            <form th:action="@{/delete}" method="post">
                <input type="hidden" name="id" th:value="${coffee.id}" />
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
</table>

<h2>새 커피 등록</h2>
<form th:action="@{/insert}" method="post">
    이름: <input type="text" name="name" /><br/>
    가격: <input type="number" name="price" /><br/>
    원산지: <input type="text" name="source" /><br/>
    샷 추가 : <input type="number" name="shots" /><br/>
    <button type="submit">등록</button>
</form>

</body>
</html>
